.App {
  text-align: center;
  height : 500px;
  width : 500px;
}

.App-logo {
  height: 40vmax;
  pointer-events: none;
}

canvas{
  /* pointer-events: none; */
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
